*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #dad3bb;
    color: black; 
}

.topnav {
    background-color: #dad3bb;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #c8bda8;
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        display: block;
        text-align: left;
    }
}

.header-figure {
    padding-bottom: 30px;
}

.contact-links {
    width: 50px;
    height: auto;
}

#film-button {
    color: Black;
    padding: 5px;
    background-color: #c8bda8;
    border-color: #b7ac9a;
}

.topic {
    padding-left: 5px;
}

.topic-text {
    padding-left: 5px;;
}